.btn-primary {
    width: 100%;
}

.hidden {
    display: none;
}

#primary-button {
    margin-right: 0px;
}

.ro-tl {
    border-top-left-radius: 1em !important; 
}
.ro-bl {
    border-bottom-left-radius: 1em !important;
}

.no-ro-tl {
    border-top-left-radius: 0em !important; 
}

.no-ro-bl {
    border-bottom-left-radius: 0em !important;
}

.no-ro-tr {
    border-top-right-radius: 0em !important;
}
.no-ro-br {
    border-bottom-right-radius: 0em !important;
}

.ro-tr {
    border-top-right-radius: 1em !important;
}
.ro-br {
    border-bottom-right-radius: 1em !important;
}

.ro-a {
    border-radius: 1em !important;
}