@import "tailwindcss";

@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --radius: 0.95rem;
  --alert: rgba(255, 99, 99, 0.664);
  --note: rgba(168, 223, 255, 0.658);
  --background: rgb(240, 240, 240);
  --foreground: oklch(11.492% 0.00001 271.152);
  --card: rgb(255, 255, 255);
  --card-foreground: oklch(19.574% 0.00002 271.152);
  --popover: rgb(233, 233, 233);
  --popover-foreground: oklch(0% 0 0);
  --primary: rgb(38, 143, 255);
  --primary-foreground: rgb(255,255,255);
  --secondary: rgb(191, 221, 255);
  --secondary-foreground: oklch(0% 0 0);
  --muted: oklch(0.279 0.041 260.031);
  --muted-foreground: hsl(0, 0%, 50%);
  --accent: rgba(38, 143, 255, 0.253);
  --accent-foreground: oklch(0% 0 0);
  --destructive: #fc191c;
  --border: oklch(1 0 0 / 10%);
  --input: oklch(88.224% 0.0001 271.152);
  --ring: oklch(65.12% 0.18991 254.244);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.208 0.042 265.755);
  --sidebar-foreground: oklch(0.984 0.003 247.858);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.279 0.041 260.031);
  --sidebar-accent-foreground: oklch(0.984 0.003 247.858);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.551 0.027 264.364);
  --gradient-start: rgb(255, 255, 255);
  --gradient-end: oklch(93.025% 0.0336 259.463);
  --tw-inset-shadow: 15px;
  --footer: rgb(183, 202, 224);
}
  
.dark {
  --alert: rgba(240,12,12, 0.2);
  --note: rgba(0, 87, 199, 0.2);
  --background: rgb(12,12,12);
  --foreground: oklch(0.984 0.003 247.858);
  --card: rgb(20,20,20);
  --card-foreground: oklch(0.984 0.003 247.858);
  --popover: rgb(28, 31, 34);
  --popover-foreground: oklch(0.984 0.003 247.858);
  --primary: rgb(0,123,255);
  --primary-foreground: rgb(255,255,255);
  --secondary: oklch(0.279 0.041 260.031);
  --secondary-foreground: oklch(0.984 0.003 247.858);
  --muted: oklch(0.279 0.041 260.031);
  --muted-foreground: hsl(0, 0%, 83%);
  --accent: oklch(0.279 0.041 260.031);
  --accent-foreground: oklch(0.984 0.003 247.858);
  --destructive: #b80003;
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: hsl(208, 35%, 29%);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.208 0.042 265.755);
  --sidebar-foreground: oklch(0.984 0.003 247.858);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.279 0.041 260.031);
  --sidebar-accent-foreground: oklch(0.984 0.003 247.858);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.551 0.027 264.364);
  --gradient-start: lch(61.66% 59.87 273.43 / 0.712);
  --gradient-end: lch(2.43% 2.83 273.1);
  --footer: var(--secondary);
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-alert: var(--alert);
  --color-note: var(--note);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-footer: var(--footer);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}