name: Check Pull Request Target Branch

on:
  pull_request:
    types: [opened, reopened, synchronize]

jobs:
  validate-merge-target:
    runs-on: ubuntu-latest

    steps:
      - name: Ensure pull request's head is correct (aka dev)
        run: |
          if [ "${{ github.event.pull_request.head.ref }}" = "master" ]; then
            echo "Error: Pull requests cannot target the 'master' branch."
            exit 1
          fi

      - name: Ensure pull request targets the dev branch
        run: |
          if [ "${{ github.event.pull_request.base.ref }}" != "dev" ]; then
            echo "Pull request must target the 'dev' branch."
            exit 1
          fi
        shell: bash
    